<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyuhan.demo.userManage.mapper.UserManageDao">


    <select id="queryList" resultType="java.util.Map">
        select user_name, pass_word, sex, age from C_USER;

    </select>
    <insert id="addUser" parameterType="com.chenyuhan.demo.userManage.entity.User">
        insert into C_USER values (#{id} , #{user_name}, #{pass_word}, #{age}, #{sex})
    </insert>
</mapper>